---
import { Image } from "astro:assets";
interface Props {
  asset: {
    name: string;
    modified: Date;
    type: string; // Adjusted to allow any string value
  };
}

const { asset } = Astro.props as Props;
---

<div
  class="bg-neutral-500 dark:bg-neutral-800 bg-opacity-30 dark:bg-opacity-20 rounded-xl p-2 w-60 text-center"
>
  <!-- Image or Asset Comp -->
  {
    asset.type === "images" && (
      <Image
        src={`/images/${asset.name}`}
        class="rounded-2xl"
        alt={asset.name}
        width={300}
        height={100}
      />
    )
  }
  {
    asset.type !== "images" && (
      <a href={`${asset.type}/${asset.name}`}>{asset.name}</a>
    )
  }

  <!-- Date, time and etc -->
  <div
    class="modify-info hidden text-center text-white bg-indigo-300 rounded-xl p-1"
  >
    {
      asset.modified.toLocaleDateString("en-US", {
        year: "numeric",
        month: "short",
        day: "numeric",
        hour: "2-digit",
        minute: "2-digit",
        hour12: false, // Use 24-hour format
      })
    }
  </div>
  <!-- Copy Url Button -->
  {
    asset.type === "images" && (
      <>
        <input
          type="text"
          value={`https://assets.teaclient.net/${asset.type}/${asset.name}`}
          id="urlToCopy"
          class="hidden"
        />
        <button
          type="button"
          class="copy-info hidden text-center text-white w-full bg-indigo-700 hover:bg-indigo-500 rounded-xl p-1"
          id="copyButton"
        >
          Copy URL
        </button>
      </>
    )
  }
  <button type="button" class="toggleModified">Show Info</button>
</div>

<script src="../scripts/assetScript.ts"></script>
